@using WisR.Controllers
@{
    ViewBag.Title = "Home Page";
}
<body ng-cloak ng-controller="HomeController">
    <div class="jumbotron" style="background-color: transparent">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="rooms">
                <div id="roomText" class="text-center">
                    <h2><small>@WisR.App_Resources.Resource.RoomsBasedOn <a onClick="toggleLocation();" style="cursor: pointer">@WisR.App_Resources.Resource.YourLocation</a></small></h2>
                </div>
                <div ng-hide="roomsLoaded" class="container text-center">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabel" class="">@WisR.App_Resources.Resource.Loading @WisR.App_Resources.Resource.YourLocation ...</label>
                </div>
                <div id="googlemaps" hidden>
                    <div id="address"></div>
                    <div id="accuracy"></div>
                    <div id="map_canvas" style="height: 300px"></div>
                </div>
                <div ng-show="roomsLoaded">
                    <div style="height: 300px; text-align: center" ng-hide="(Rooms|roomsNear:this).length>0">
                        <h3>{{RoomsMessage}}</h3>
                    </div>
                </div>
                <div ng-show="(Rooms|roomsNear:this).length>0" style="height: 300px; overflow: auto">
                    <table ng-if="Rooms.length" id="roomTable" class="table table-responsive table-hover">
                        <tr class="blink_me" style="cursor: pointer" ng-repeat="room in Rooms| roomsNear: this" ng-click="changeViewToRoom(room)" ng-class="{'notClickAble': !room.AllowAnonymous && $parent.userId=='NoUser'}">
                            <td ng-show="room.AllowAnonymous || $parent.userId != 'NoUser' " class="col-md-11">
                                {{room.Name}}
                            </td>
                            <td ng-show="!room.AllowAnonymous && $parent.userId=='NoUser'" class="col-md-11" title="@WisR.App_Resources.Resource.NoAccessRequiresLogin">
                                <s>{{room.Name}}</s>
                            </td>
                            <td class="col-md-1 text-right">
                                <span ng-show="room.HasPassword" title="@WisR.App_Resources.Resource.PasswordProtected" class="glyphicon glyphicon-lock right"></span>
                                <span ng-show="room.HasChat" title="@WisR.App_Resources.Resource.ChatEnabled" class="glyphicon glyphicon-comment right"></span>
                                <span ng-show="room.UsersCanAsk" title="@WisR.App_Resources.Resource.UsersCanAsk" class="glyphicon glyphicon-question-sign right"></span>
                                <span ng-show="room.AllowAnonymous" title="@WisR.App_Resources.Resource.AnonymousUsersAllowed" class="glyphicon glyphicon-eye-close"></span>
                            </td>
                            <td ng-show="room.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Disabled">
                                <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                            </td>
                            <td ng-hide="room.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Edit" ng-click="toggleDropdown(room._id);$event.stopPropagation();">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                                <div class="dropdown" style="margin-left:-150px">
                                    <button ng-hide="true" class="btn btn-default dropdown-toggle" type="button" id="dropdown{{room._id}}" data-toggle="dropdown">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-click="toggleModalWithRoom('#deleteRoomModal',room)"><a>@WisR.App_Resources.Resource.Delete</a></li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <br />
                <div class="row">
                    <div>
                        <form ng-submit="connectWithUniqueSecret()"><input class="form-control" style="margin: 0 auto" ng-model="uniqueRoomSecret" type="text" placeholder="@WisR.App_Resources.Resource.EnterUniqueSecret" /></form>
                    </div>
                </div>

                <div class="row">
                    <div id="buttonsDiv" class="text-center">
                        <div style="display: inline">
                            <button id="connectRoomButton" class="btn btn-primary" ng-click="connectWithUniqueSecret()">@WisR.App_Resources.Resource.Connect</button>
                        </div>
                        <span id="createRoomButtonDiv">
                            <button id="createRoomButton" title="@WisR.App_Resources.Resource.LoginToEnable" class="btn btn-primary" style="pointer-events: auto;" disabled onclick="$('#myModalCreate').modal('toggle')">@WisR.App_Resources.Resource.CreateRoom</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    {{Message}}
                </div>
            </div>

        </div>
    </div>
</body>
<!-- Modal --> <!--Stops modal from closing-->
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog center">
        <div class="modal-content modal-heigh">
            <div class="modal-body">
                <form ng-submit="postRoom()">

                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.RoomName <span title="@WisR.App_Resources.Resource.RoomNameHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true"/></label>  <input required ng-model="RoomName" type="text" class="form-control col-md-6" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.UniqueSecret <span title="@WisR.App_Resources.Resource.UniqueSecretHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input required ng-model="UniqueSecret" class="form-control col-md-6" type="text" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.Password <span title="@WisR.App_Resources.Resource.PasswordHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="Password" class="form-control col-md-6" type="password" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.UseLocation <span title="@WisR.App_Resources.Resource.UseLocationHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="UseLocation" class="col-md-6" type="checkbox" />
                    </div>
                    <div ng-show="UseLocation" class="row">
                        <label class="col-md-6">Radius<span title="@WisR.App_Resources.Resource.RadiusHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="Radius" class="col-md-6" type="range" max="200" step="75" min="50" />
                        <div class="col-md-6"></div><p>{{Radius}} @WisR.App_Resources.Resource.Meters</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.HasChat <span title="@WisR.App_Resources.Resource.HasChatHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="HasChat" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.AllowAnonymousUsers <span title="@WisR.App_Resources.Resource.AllowAnonymousHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="AllowAnonymous" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.CanUsersAsk <span title="@WisR.App_Resources.Resource.UsersCanAskHelp" class="glyphicon glyphicon-question-sign" style="color:#4582ec" aria-hidden="true" /></label> <input ng-model="UserCanAsk" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row text-center">
                        <button id="ModalCreateRoomButton" type="submit" class="btn btn-primary">@WisR.App_Resources.Resource.CreateRoom</button>
                        @Html.Hidden("RedirectTo", Url.Action("Index", "Room"))
                        <button id="ModalCancelButton" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                    </div>
                </form>
                <div class="text-center text-danger">{{RoomCreationError}}</div>
            </div>

        </div>

    </div>
</div>
<!--Modal end-->
<!-- Modal for deleting question --> <!--Stops modal from closing-->
<div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog center">
        <div class="modal-content modal-heigh">
            <div class="modal-body">
                <form>
                    <div class="row">
                        <h4 class="col-md-12 text-center">@WisR.App_Resources.Resource.AreYouSureDeleteRoom</h4>
                        <br />
                        <label class="col-md-6 text-center">@WisR.App_Resources.Resource.RoomName</label>
                        <p class="col-md-6">{{SpecificRoom.Name}}</p>
                        <div class="col-md-12 text-center">
                            <button id="DeleteSubmitButton" type="submit" ng-click="deleteRoom(SpecificRoom)" class="btn btn-primary">@WisR.App_Resources.Resource.Delete</button>
                            <span>
                                <button id="DeleteCancelButton" type="button" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                            </span>
                        </div>
                        <div class="col-md-12 text-center text-danger">
                            {{roomDeleteMessage}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Modal end-->