@using WisR.Controllers
@{
    ViewBag.Title = "Home Page";
}
<body ng-cloak ng-controller="HomeController">
    <div class="jumbotron" style="background-color: transparent">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="rooms">
                <div id="roomText" class="text-center">
                    <h2><small>@WisR.App_Resources.Resource.RoomsBasedOn <a onClick="toggleLocation();" style="cursor: pointer">@WisR.App_Resources.Resource.YourLocation</a></small></h2>
                </div>
                <div ng-hide="roomsLoaded" class="container text-center">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabel" class="">@WisR.App_Resources.Resource.Loading @WisR.App_Resources.Resource.YourLocation ...</label>
                </div>
                <div id="googlemaps" hidden>
                    <div id="address"></div>
                    <div id="accuracy"></div>
                    <div id="map_canvas" style="height: 300px"></div>
                </div>
                <div ng-show="roomsLoaded">
                    <div style="height: 300px; text-align: center" ng-hide="(Rooms|roomsNear:this).length>0">
                        <h3>@WisR.App_Resources.Resource.NoRoomsNearby</h3>
                    </div>
                </div>
                <div ng-show="(Rooms|roomsNear:this).length>0" style="height: 300px; overflow: auto">
                    <table id="roomTable" class="table table-responsive table-hover">
                        <tr class="" style="cursor: pointer" ng-repeat="room in Rooms| roomsNear: this" ng-click="changeViewToRoom(room)" ng-class="{'notClickAble': !room.AllowAnonymous && $parent.userId=='NoUser'}">
                            <td ng-show="room.AllowAnonymous || $parent.userId != 'NoUser' " class="col-md-11">
                                {{room.Name}}
                            </td>
                            <td ng-show="!room.AllowAnonymous && $parent.userId=='NoUser'" class="col-md-11" title="No access because you're not logged in">
                                <s>{{room.Name}}</s>
                            </td>
                            <td class="col-md-1 text-right">
                                <span ng-show="room.HasPassword" title="Password Protected" class="glyphicon glyphicon-lock right"></span>
                                <span ng-show="room.HasChat" title="Chat enabled" class="glyphicon glyphicon-comment right"></span>
                                <span ng-show="room.UsersCanAsk" title="Users can ask questions" class="glyphicon glyphicon-question-sign right"></span>
                                <span ng-show="room.AllowAnonymous" title="Anonymous users allowed" class="glyphicon glyphicon-eye-close"></span>
                            </td>

                        </tr>
                    </table>
                </div>
                <br />
                <div class="row">
                    <div>
                        <form ng-submit="connectWithUniqueTag()"><input class="form-control" style="margin: 0 auto" ng-model="uniqueRoomTag" type="text" placeholder="@WisR.App_Resources.Resource.EnterUniqueTag" /></form>
                    </div>
                </div>

                <div class="row">
                    <div id="buttonsDiv" class="text-center">
                        <div style="display: inline">
                            <button id="connectRoomButton" class="btn btn-primary" ng-click="connectWithUniqueTag()">@WisR.App_Resources.Resource.Connect</button>
                        </div>
                        <span id="createRoomButtonDiv">
                            <button id="createRoomButton" title="Login to enable" class="btn btn-primary" style="pointer-events: auto;" disabled onclick="$('#myModalCreate').modal('toggle')">@WisR.App_Resources.Resource.CreateRoom</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    {{Message}}
                </div>
            </div>

        </div>
    </div>
</body>
<!-- Modal --> <!--Stops modal from closing-->
<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog center">
        <div class="modal-content modal-heigh">
            <div class="modal-body">
                <form ng-submit="postRoom()">

                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.RoomName</label>  <input required ng-model="RoomName" type="text" class="col-md-6" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.UniqueTag</label> <input required ng-model="UniqueTag" class="col-md-6" type="text" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.Password</label> <input ng-model="Password" class="col-md-6" type="password" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.UseLocation</label> <input ng-model="UseLocation" class="col-md-6" type="checkbox" />
                    </div>
                    <div ng-show="UseLocation" class="row">
                        <label class="col-md-6">Radius</label> <input ng-model="Radius" class="col-md-6" type="range" max="200" step="75" min="50"/>
                        <div class="col-md-6"></div><p>{{Radius}} Meters</p>
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.HasChat</label> <input ng-model="HasChat" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.AllowAnonymousUsers</label> <input ng-model="AllowAnonymous" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row">
                        <label class="col-md-6">@WisR.App_Resources.Resource.CanUsersAsk</label> <input ng-model="UserCanAsk" class="col-md-6" type="checkbox" />
                    </div>
                    <div class="row text-center">
                        <button id="ModalCreateRoomButton" type="submit" class="btn btn-primary">@WisR.App_Resources.Resource.CreateRoom</button>
                        @Html.Hidden("RedirectTo", Url.Action("Index", "Room"))
                        <button id="ModalCancelButton" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                    </div>
                </form>
                <div id="RoomCreationError"></div>
            </div>

        </div>

    </div>
</div>
<!--Modal end-->