@using Facebook
<!DOCTYPE html>

<html>
<head>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGUkernNPkypdfcFhlIOs5Bt-8c5MUPYo">
    
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="signalr/hubs"></script>

</head>
<body ng-app="wisrApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" ng-controller="UserController">
                <ul class="nav navbar-nav col-lg-12">
                    <li>@Html.ActionLink("WisR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @if (Session["accessToken"] != null)
                    {
                        var facebookId = Session["FacebookId"];

                        var client = new FacebookClient(Session["accessToken"].ToString());

                        dynamic result = client.Get("me", new { fields = "name, id, birthday" });

                        <li class="pull-right">
                            <div class="fb-info">

                                <img class="pull-left" src="http://graph.facebook.com/@facebookId/picture?type=square" alt="FacebookBillede" />

                                <p class="pull-left" style="color: #999999; padding: 15px 15px 15px 15px">
                                    @result.name
                                </p>
                            </div>
                        </li>
                        <li class="pull-right">
                            @Html.ActionLink("Log out", "Logout", "Login")
                            <script>

                                app.controller("UserController", ['$scope', '$http', '$location', '$window', 'configs', function ($scope, $http, $location, $window, configs) {
                                    $http.post(configs.baseHostName+'/Home/toJsonUser', {
                                        facebookId: @result.id,
                                        lDAPUserName: null,
                                        displayName: '@result.name',
                                        email: null,
                                        encryptedPassword: null,
                                    }).then(function (response) {
                                        //Use response to send to REST API
                                        $http.post(configs.restHostName + '/User/CreateUser', { User: JSON.stringify(response.data) }).
                                            then(function (response) {
                                                window.userId = response.data;
                                              
                                                $('#createRoomButton').prop("disabled",false);
                                                $('#createRoomButton').prop("title",'');
                                            });
                                    });
                                }]);

                            </script>
                        </li>

                    }
                    else
                    {

                        <li class="pull-right">
                            @Html.ActionLink("Log in", "LogIn", "Login")
                        </li>
                    }
                </ul>
            </div>
            @*<div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Martin Fig & Nikolaj Holden</p>
        </footer>
    </div>


</body>
</html>
