@using System.Dynamic
@using System.Globalization
@using System.Threading
@using Facebook
<!DOCTYPE html>

<html>
<head>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGUkernNPkypdfcFhlIOs5Bt-8c5MUPYo">

    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/crypto")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/chartbundle")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/signalr/hubs")
    @RenderSection("scripts", required: false)


    <script>
        window.Resources =@Html.Raw(Json.Encode(WisR.Helper.ResourceHelper.GetResource()));
    </script>

</head>
<body ng-app="wisrApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse dropdown" ng-controller="UserController">

                @*If we are logged in*@
                @if (Session["accessToken"] != null || Session["LDAPid"] != null)
                {
                    dynamic result = new ExpandoObject();
                    result.id = "";
                    result.name = "";
                    string ldapUserName = "";
                    string email = "";

                    @Html.ActionLink("WisR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <ul class="nav navbar-nav navbar-right">
                        <li>

                            @*if logged in with facebook*@
                            @if (Session["accessToken"] != null)
                            {
                                var facebookId = Session["FacebookId"];
                                var client = new FacebookClient(Session["accessToken"].ToString());

                                result = client.Get("me", new {fields = "name, id, birthday"});
                                <div class="fb-info">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a style="border: none !important">
                                                @result.name
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else if (Session["LDAPid"] != null)
                            {
                                email = Session["LDAPid"].ToString();
                                ldapUserName = email.Split('@')[0];
                                result.name = ldapUserName;
                                <a style="border: none !important">
                                    @Session["LDAPid"].ToString().Split('@')[0]
                                </a>
                            }
                        </li>
                        @{
                            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                            <li class="dropdown" style="cursor: pointer">
                                <a class="downdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                                    Language
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>
                                    <li><a href="/Home/ChangeCurrentCulture/1">Danish</a></li>
                                </ul>
                            </li>
                        }
                        <li class="navbar-right">
                            
                            @Html.ActionLink(WisR.App_Resources.Resource.LogOut, "Logout", "Login")
                            <script>

                                app.controller("UserController", [
                                    '$scope', '$http', '$location', '$window', 'configs', function($scope, $http, $location, $window, configs) {
                                        //Converts the user to json and sends it to the rest api, on success it adds the user to window.userId
                                        $http.post(configs.baseHostName + '/Home/toJsonUser', {
                                            facebookId: '@result.id' != "" ? '@result.id' : null,
                                            lDAPUserName: '@ldapUserName' != "" ? '@ldapUserName' : null,
                                            displayName: '@result.name',
                                            email: '@email' != "" ? '@email' : null,
                                            encryptedPassword: null,
                                        }).then(function(response) {
                                            //Use response to send to REST API
                                            $http.post(configs.restHostName + '/User/CreateUser', { User: JSON.stringify(response.data) }).
                                                then(function(response) {
                                                    if (response.data.ErrorType != 0) {
                                                        //TODO better error handling?
                                                        alert($scope.GetErrorOutput(response.data.Errors));
                                                        return;
                                                    } else {
                                                        window.userId = response.data.Data;

                                                        $('#createRoomButton').prop("disabled", false);
                                                        $('#createRoomButton').prop("title", '');
                                                    }
                                                    
                                                },function() {
                                                    //alert(Resources.NoConnectionToServer);
                                                });
                                        });
                                    }
                                ]);

                            </script>

                        </li>
                    </ul>

                }
                else
                {

                    @Html.ActionLink("WisR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <ul class="navbar-right navbar-nav nav">
                        @{
                            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                            <li class="dropdown" style="cursor: pointer">
                                <a class="downdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false">
                                    Language
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>
                                    <li><a href="/Home/ChangeCurrentCulture/1">Danish</a></li>
                                </ul>
                            </li>
                        }
                        <li class="dropdown" style="cursor: pointer">
                            <a class="downdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                                @WisR.App_Resources.Resource.LogIn
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a onclick="$('#myModalLDAPLogin').modal('toggle')">LDAP</a></li>
                                <li>
                                    @Html.ActionLink("Facebook", "LoginWithFacebook", "Login")
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <script>
                        window.userId = "NoUser";
                    </script>
                }                   

            </div>
            @*<div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Martin Fig & Nikolaj Holden</p>
        </footer>
    </div>

    <!--LDAP modal window--> <!--Stops modal from closing-->
    <div class="modal fade" id="myModalLDAPLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
        <div class="modal-dialog center">
            <div class="modal-content modal-heigh">
                <div class="modal-body">
                    <form id="ldapForm" method="POST" action="@Url.Action("LoginWithLDAP", "Login")">
                        <div class="row">
                            <div class="row col-md-12">
                                <label class="col-md-6">Email:</label> <input name="email" required type="email" class="col-md-6" />
                            </div>
                            <div class="row col-md-12">
                                <label class="col-md-6">@WisR.App_Resources.Resource.Password:</label> <input name="password" required type="password" class="col-md-6"/>
                            </div>
                            <p ng-show="showLdapLoginText" class="text-center text-danger col-md-12" id="ldapErrorMsg">@WisR.App_Resources.Resource.Authenticating...</p>
                            <div class="col-md-12 text-center">
                                <button id="ModalSubmitButton" type="submit" ng-click="showLdapLoginText=true" class="btn btn-primary">@WisR.App_Resources.Resource.LogIn</button>
                                <span>
                                    <button id="ModalCancelButton" type="button" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                                </span>

                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var ldapForm = $('#ldapForm');
        ldapForm.submit(function (e) {
            $("#ldapErrorMsg").text("@WisR.App_Resources.Resource.Authenticating...");
            e.preventDefault(); // stops the form submission

            $.ajax({
                url: $(this).attr('action'), // action attribute of form to send the values
                type: $(this).attr('method'), // method used in the form
                data: $(this).serialize(), // data to be sent to php
                dataType: "text",
                success: function (data) {
                    if (data == "True") {
                        location.reload();
                    } else {
                        $("#ldapErrorMsg").text("@WisR.App_Resources.Resource.NoUserWithThatInformation");
                    }

                },
                error: function (err) {
                    console.log(err);
                }
            });

        });
    </script>
</body>
</html>
