@{
    ViewBag.Title = "index";
}
<body ng-cloak ng-controller="RoomController">
    <h2>{{CurrentRoom.Name}}</h2>
    <div id="RoomErrorDiv"></div>@*Used to insert error message*@

    <div class="row" ng-show="rightPassword">
        <div ng-hide="questionsLoaded" class="container text-center col-md-8">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabel" class="">Loading questions...</label>
        </div>
        <div ng-show="CurrentRoom.CreatedById == currentUser._id">
            <div id="roomText" class="text-center">
                <h2><small><a ng-click="toggleRoomLocation()" style="cursor: pointer">See Room & your location</a></small></h2>
            </div>
            <div id="googlemapsRoom" hidden>
                <div id="mapRoom" style="height: 300px"></div>
            </div>
            <button id="updateBtn" ng-click="updateLocation()" hidden>Update location</button>
        </div>
        <div id="questionTables" ng-show="!SpecificQuestionShown && questionsLoaded">
            <div class="col-md-8">
                <h4>Host questions</h4>
                <div style="overflow-y: auto; max-height: 300px;min-height: 300px">
                    <table id="hostQuestionsTable" class="table table-hover table-responsive">
                        <tbody>
                            <tr style="cursor: pointer" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: CurrentRoom.CreatedById }" ng-click="ShowSpecificQuestion(question)">
                                <td>{{question.QuestionText}}</td>
                                <td>{{GetUsernameById(question.CreatedById)}}</td>
                                <td>{{question.Votes | Votes: 1}}<span ng-class="{'upvoted':hasVoted({{question.Votes}},true)}" class="glyphicon glyphicon-thumbs-up"></span></td>
                                <td>{{question.Votes | Votes: -1}}<span ng-class="{'downvoted':hasVoted({{question.Votes}},false)}" class="glyphicon glyphicon-thumbs-down"></span></td>
                        </tbody>
                    </table>
                </div>
                <div ng-show="CurrentRoom.UsersCanAsk">
                    <h4>User questions</h4>
                    <div style="overflow-y: auto; max-height: 300px;min-height: 300px">
                        <table id="userQuestionsTable" class="table table-hover table-responsive">
                            <tbody>
                                <tr style="cursor: pointer" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: '!'+CurrentRoom.CreatedById  } " ng-click="ShowSpecificQuestion(question)">
                                    <td>{{question.QuestionText}}</td>
                                    <td>{{GetUsernameById(question.CreatedById)}}</td>
                                    <td>{{question.Votes | Votes: 1}}<span ng-class="{'upvoted':hasVoted({{question.Votes}},true)}" class="glyphicon glyphicon-thumbs-up"></span></td>
                                    <td>{{question.Votes | Votes: -1}}<span ng-class="{'downvoted':hasVoted({{question.Votes}},false)}" class="glyphicon glyphicon-thumbs-down"></span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3" id="createQuestionDiv">
                    <button id="createQuestionButton" ng-disabled="userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk" title="{{ userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk ? 'User Questions are disabled' : ''}}" style="pointer-events: auto;" class="btn btn-primary" onclick="$('#myModalCreate').modal('toggle')">Create Question</button>
                </div>
            </div>

        </div>
        <div id="specificQuestion" ng-show="SpecificQuestionShown">
            <div class="col-md-8">
                <table class="table table-responsive">
                    <tr>
                        <td>
                            <div ng-hide="specificImageLoaded" class="container text-center col-md-4">
                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label>Loading image...</label>
                            </div>
                            <img ng-show="specificImageLoaded" ng-click="toggleImageSize()" id="specificQuestionImage" ng-src="data:image/png;base64,{{SpecificQuestion.Img}}" title="Click to change image size" style="cursor: pointer; width: 100px; height: 100px" />
                        </td>
                        <td>{{SpecificQuestion.QuestionText}}</td>
                        <td>{{GetUsernameById(SpecificQuestion.CreatedById)}}</td>
                        <td>{{SpecificQuestion.Votes | Votes: 1}}<button class="votingBtn" ng-click="Vote('Up')" title="{{{true: 'Login to enable', false: ''}[anonymousUser]}}" style="pointer-events: auto;" ng-disabled="anonymousUser"> <span ng-class="{'upvoted':hasVoted('{{SpecificQuestion.Votes}}' != undefined? SpecificQuestion.Votes: 'undefined',true)}" class="glyphicon glyphicon-thumbs-up"></span></button></td>
                        <td>{{SpecificQuestion.Votes | Votes: -1}}<button class="votingBtn" ng-click="Vote('Down')" title="{{{true: 'Login to enable', false: ''}[anonymousUser]}}" style="pointer-events: auto;" ng-disabled="anonymousUser"><span ng-class="{'downvoted':hasVoted('{{SpecificQuestion.Votes}}'!= undefined? SpecificQuestion.Votes: 'undefined',false)}" class="glyphicon glyphicon-thumbs-down"></span></button></td>
                    </tr>

                </table>
                <div ng-show="showProgressBar">
                    <div id="progressDiv" class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( percentage + '%' ) }">
                        </div>
                    </div>
                    <div>
                        <p class="text-center">{{timeLeft}}</p>
                    </div>
                </div>
                <form>
                    <div ng-repeat="responseOption in SpecificQuestion.ResponseOptions">
                        <label>
                            <input type="radio" ng-model="$parent.answerChoosen" ng-value="{{responseOption}}">
                            {{responseOption.Value}}
                        </label>
                    </div>

                    <button class="btn btn-primary" ng-click="AddAnswer()" ng-disabled="timerOverflow || answerChoosen == undefined" title="{{{true: 'Login to enable', false: ''}[anonymousUser]}}" style="pointer-events: auto;" ng-disabled="anonymousUser">Submit</button><button style="float: right" class="btn btn-primary" ng-click="ToggleShowQuestionTables()">Back to questions</button>
                </form>
                <label ng-show="specificAnswer!=null" id="specificAnswerLabel">You answered: {{specificAnswer}}</label>
                <label ng-hide="showResults">No results yet</label>
                <div id="chartDiv" ng-hide="!showResults">
                    <h3>Results</h3>
                    <select ng-model="chartType">
                        <option>Pie</option>
                        <option>Doughnut</option>
                        <option>PolarArea</option>
                    </select>
                    <canvas id="pie" class="chart chart-base" chart-options="options" chart-type="chartType" chart-legend="true" chart-colors="colors" chart-data="data" chart-labels="labels"></canvas>
                </div>
            </div>
        </div>
        <div ng-hide="chatLoaded" class="container text-center col-md-4">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabel" class="">Loading chat messages...</label>
        </div>
        @* Chat template found at: http://bootsnipp.com/snippets/featured/chat *@
        <div ng-show="chatLoaded" class="col-md-4" ng-show="CurrentRoom.HasChat">
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
            @*Scroll glue keeps scroll bar at same location, found at: https://github.com/Luegg/angularjs-scroll-glue*@
            <div class="fa-border" style="overflow-x: hidden; overflow-y: auto; max-height: 600px; min-height: 600px" scroll-glue>
                <div class="row">
                    <div class="message-wrap col-lg-12">
                        <div class="msg-wrap">
                            <div ng-repeat="chatMessage in ChatMessages" class="media msg">
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> {{chatMessage.Timestamp*1| date:'HH:mm:ss dd/MM-yyyy'}}</small>
                                    <h5 class="media-heading">{{GetUsernameById(chatMessage.ByUserId)}}</h5>
                                    <small class="col-lg-10">{{chatMessage.Value}}</small>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="send-wrap">
                <textarea ng-enter="postChatMessage(textAreaModel)" ng-model="textAreaModel" class="form-control send-message" rows="3" style="-moz-min-width: 100%; -ms-min-width: 100%; -o-min-width: 100%; -webkit-min-width: 100%; min-width: 100%" placeholder="Write a reply..."></textarea>
            </div>
            <div class="btn-panel">
                <button type="submit" class="btn btn-primary" ng-click="postChatMessage(textAreaModel)">Send message</button>
            </div>
        </div>

    </div>

    <!-- Modal --> <!--Stops modal from closing-->
    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
        <div class="modal-dialog center">
            <div class="modal-content modal-heigh">
                <div class="modal-body">
                    <form ng-submit="postQuestion()">
                        <div class="row">
                            <label class="col-md-6">Question text:</label> <input required ng-model="QuestionText" type="text" class="col-md-6" placeholder="Enter Question text" />
                        </div>
                        <div class="row">
                            <label class="col-md-6">Question type:</label>
                            <select class="col-md-6" ng-model="QuestionType" required ng-options="Type.name for Type in QuestionTypes">
                                <option value="" disabled selected> Choose type </option>
                            </select>
                        </div>
                        <div ng-show="QuestionType != undefined && QuestionType.val != 'TextualQuestion'" class="row">
                            <label class="col-md-6">Response options:</label>
                            <div class="pull-right col-md-6">
                                <input type="button" ng-click="AddResponseOption()" value="Add Response Option">
                                <div ng-repeat="option in ResponseOptions">
                                    <input required ng-model="ResponseOptions[option.id].val" class="col-md-12" type="text" placeholder="Add response options" /><input type="button" ng-click="RemoveResponseOption(option)" value="Remove">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-6">Picture</label><input type='file' ng-model='questionImage' base-sixty-four-input class="text-center">
                            <img ng-src="data:image/png;base64,{{questionImage.base64}}" style="max-width: 100px; max-height: 100px" />
                            <div class="col-md-12 text-center">
                                {{ImageMessage}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-6">Expiration time</label> <input required ng-model="ExpirationTime" class="col-md-6" type="number" />
                        </div>
                        <br />
                        <div class="row text-center">
                            <button id="ModalCreateQuestionButton" type="submit" class="btn btn-primary">Create question</button>
                            <button id="ModalCancelButton" type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <!--Modal end-->
    <!-- Modal --> <!--Stops modal from closing-->
    <div class="modal fade" id="myModalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
        <div class="modal-dialog center">
            <div class="modal-content modal-heigh">
                <div class="modal-body">
                    <form>
                        <label class="col-md-12 text-center">Enter Password:</label>
                        <div class="col-md-12 text-center">
                            <input ng-model="inputPassword" type="password" required />
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary btn-md btn-default" type="submit" ng-click="validatePassword()">Submit</button>
                            <span>
                                @Html.ActionLink("Go back", "Index", "Home", null, new { @class = "btn btn-primary btn-md btn-default " })
                                @Html.Hidden("RedirectToHome", Url.Action("Index", "Home"))
                            </span>
                        </div>
                        <div class="col-md-12 text-center">
                            {{passwordMessage}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var MyRoomIdFromViewBag = '@ViewBag.roomId';
    </script>
</body>