@{
    ViewBag.Title = "index";
}
<body ng-controller="RoomController">
    <div ng-hide="specificRoomLoaded" style="min-height: 800px;align-items: center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label class="">@WisR.App_Resources.Resource.LoadingRoom...</label>
    </div>
    <div ng-show="specificRoomLoaded" ng-cloak>
        <h2>{{CurrentRoom.Name}}</h2>
        <div id="RoomErrorDiv"></div>@*Used to insert error message*@

        <div class="row" ng-show="rightPassword">
            <div ng-hide="questionsLoaded" class="container text-center col-md-8" style="min-height: 800px">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabelGlobal" class="">@WisR.App_Resources.Resource.LoadingQuestions...</label>
            </div>
            <div ng-show="CurrentRoom.CreatedById == currentUser._id">
                <div id="roomText" class="text-center">
                    <h2>
                        <small><a ng-click="toggleRoomLocation()" style="cursor: pointer">@WisR.App_Resources.Resource.SeeRoomAndLocation</a></small>
                    </h2>
                </div>
                <div id="googlemapsRoom" hidden>
                    <div id="mapRoom" style="height: 300px"></div>
                </div>
                <button id="updateBtn" ng-click="updateLocation()" hidden>@WisR.App_Resources.Resource.UpdateLocation</button>
            </div>
            <div id="questionTables" ng-show="!SpecificQuestionShown && questionsLoaded">
                <div class="col-md-8">
                    <h4>@WisR.App_Resources.Resource.HostQuestions</h4>

                    <div style="overflow-y: auto; max-height: 200px; min-height: 200px">
                        <table id="hostQuestionsTable" class="table table-hover table-responsive" style="overflow:visible">
                            @*The ng-if Disables the initial animation of the rows *@
                            <tbody ng-if="specificRoomLoaded && questionsLoaded">
                                <tr style="cursor: pointer" ng-class="{blink_me:!question.Votes.length}" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: CurrentRoom.CreatedById }" ng-click="ShowSpecificQuestion(question)">
                                    <td title="@WisR.App_Resources.Resource.QuestionText">{{question.QuestionText}}</td>
                                    <td title="@WisR.App_Resources.Resource.AuthorOfQuestion">{{GetUsernameById(question.CreatedById)}}</td>
                                    <td title="@WisR.App_Resources.Resource.AmountOfUpvotes">{{question.Votes | CountVotes: 1}}<span ng-class="{'upvoted':hasVoted({{question.Votes}},true)}" class="glyphicon glyphicon-thumbs-up"></span></td>
                                    <td title="@WisR.App_Resources.Resource.AmountOfDownvotes">{{question.Votes | CountVotes: -1}}<span ng-class="{'downvoted':hasVoted({{question.Votes}},false)}" class="glyphicon glyphicon-thumbs-down"></span></td>
                                    <td ng-show="question.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Disabled">
                                        <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                                    </td>
                                    <td ng-hide="question.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Edit" ng-click="toggleDropdown(question._id);$event.stopPropagation();">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                        <div class="dropdown" style="margin-left:-150px">
                                            <button ng-hide="true" class="btn btn-default dropdown-toggle" type="button" id="dropdown{{question._id}}" data-toggle="dropdown">
                                                Dropdown
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li ng-click="toggleModalWithQuestion('#myModalCreate',question)"><a>@WisR.App_Resources.Resource.Update</a></li>
                                                <li ng-click="toggleModalWithQuestion('#deleteQuestionModal',question)"><a>@WisR.App_Resources.Resource.Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>

                            </tbody>
                        </table>
                    </div>
                    <div ng-show="CurrentRoom.UsersCanAsk">
                        <h4>@WisR.App_Resources.Resource.UserQuestions</h4>
                        <div style="overflow-y: auto; max-height: 200px; min-height: 200px">
                            <table id="userQuestionsTable" class="table table-hover table-responsive">
                                @*The ng-if Disables the initial animation of the rows *@
                                <tbody ng-if="specificRoomLoaded && questionsLoaded">
                                    <tr style="cursor: pointer" ng-class="{blink_me:!question.Votes.length}" ng-repeat="question in Questions|filter: { RoomId: '@ViewBag.roomId',CreatedById: '!'+CurrentRoom.CreatedById  }|orderBy:'-((Votes|CountVotes: 1)-(Votes|CountVotes:-1))' " ng-click="ShowSpecificQuestion(question)">
                                        <td title="@WisR.App_Resources.Resource.QuestionText">{{question.QuestionText}}</td>
                                        <td title="@WisR.App_Resources.Resource.AuthorOfQuestion">{{GetUsernameById(question.CreatedById)}}</td>
                                        <td title="@WisR.App_Resources.Resource.AmountOfUpvotes">{{question.Votes | CountVotes: 1}}<span ng-class="{'upvoted':hasVoted({{question.Votes}},true)}" class="glyphicon glyphicon-thumbs-up"></span></td>
                                        <td title="@WisR.App_Resources.Resource.AmountOfDownvotes">{{question.Votes | CountVotes: -1}}<span ng-class="{'downvoted':hasVoted({{question.Votes}},false)}" class="glyphicon glyphicon-thumbs-down"></span></td>
                                        <td ng-show="question.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Disabled">
                                            <span class="glyphicon glyphicon-option-vertical text-muted"></span>
                                        </td>
                                        <td ng-hide="question.CreatedById!=currentUser._id" title="@WisR.App_Resources.Resource.Edit" ng-click="toggleDropdown(question._id);$event.stopPropagation();">
                                            <span class="glyphicon glyphicon-option-vertical"></span>
                                            <div class="dropdown" style="margin-left:-150px">
                                                <button ng-hide="true" class="btn btn-default dropdown-toggle" type="button" id="dropdown{{question._id}}" data-toggle="dropdown">
                                                    Dropdown
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                    <li ng-click="toggleModalWithQuestion('#myModalCreate',question)"><a>@WisR.App_Resources.Resource.Update</a></li>
                                                    <li ng-click="toggleModalWithQuestion('#deleteQuestionModal',question)"><a>@WisR.App_Resources.Resource.Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3" id="createQuestionDiv">
                        <button id="createQuestionButton" ng-disabled="userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk" title="{{ userId!=CurrentRoom.CreatedById&&!CurrentRoom.UsersCanAsk ? 'User Questions are disabled' : ''}}" style="pointer-events: auto;" class="btn btn-primary" ng-click="toggleCreateModal('#myModalCreate')">@WisR.App_Resources.Resource.CreateQuestion</button>
                    </div>
                </div>

            </div>
            <div id="specificQuestion" ng-show="SpecificQuestionShown">
                <div class="col-md-8">
                    <table class="table table-responsive">
                        <tr>
                            <td>
                                <div ng-hide="specificImageLoaded" class="container text-center col-md-4">
                                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label>@WisR.App_Resources.Resource.LoadingImage...</label>
                                </div>
                                <img ng-show="specificImageLoaded" ng-click="toggleImageSize()" id="specificQuestionImage" ng-src="data:image/png;base64,{{SpecificQuestion.Img}}" title="@WisR.App_Resources.Resource.ClickToChangeImageSize" style="cursor: pointer; width: 100px; height: 100px" />
                            </td>
                            <td title="@WisR.App_Resources.Resource.QuestionText">{{SpecificQuestion.QuestionText}}</td>
                            <td title="@WisR.App_Resources.Resource.AuthorOfQuestion">{{GetUsernameById(SpecificQuestion.CreatedById)}}</td>
                            <td>
                                <span title="@WisR.App_Resources.Resource.AmountOfUpvotes">{{SpecificQuestion.Votes | CountVotes: 1}}</span>
                                <button class="noBtn" ng-click="Vote('Up')" title="{{{true: '@WisR.App_Resources.Resource.LoginToEnable', false: ''}[anonymousUser]}}" style="pointer-events: auto;" ng-disabled="anonymousUser"> <span ng-class="{'upvoted':hasVoted('{{SpecificQuestion.Votes}}' != undefined? SpecificQuestion.Votes: 'undefined',true)}" class="glyphicon glyphicon-thumbs-up"></span></button>
                            </td>
                            <td>
                                <span title="@WisR.App_Resources.Resource.AmountOfDownvotes">
                                    {{SpecificQuestion.Votes | CountVotes: -1}}
                                </span>
                                <button class="noBtn" ng-click="Vote('Down')" title="{{{true: '@WisR.App_Resources.Resource.LoginToEnable', false: '@WisR.App_Resources.Resource.AmountOfDownvotes'}[anonymousUser]}}" style="pointer-events: auto;" ng-disabled="anonymousUser"><span ng-class="{'downvoted':hasVoted('{{SpecificQuestion.Votes}}'!= undefined? SpecificQuestion.Votes: 'undefined',false)}" class="glyphicon glyphicon-thumbs-down"></span></button>
                            </td>
                        </tr>

                    </table>
                    <div ng-show="showProgressBar">
                        <div id="progressDiv" class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( percentage + '%' ) }">
                            </div>
                        </div>
                        <div>
                            <p class="text-center">{{timeLeft}}</p>
                        </div>
                    </div>
                    <form>
                        <div ng-repeat="responseOption in SpecificQuestion.ResponseOptions">
                            <label>
                                <input type="radio" ng-model="$parent.answerChoosen" ng-value="{{responseOption}}">
                                {{responseOption.Value}}
                            </label>
                        </div>

                        <button class="btn btn-primary" ng-click="AddAnswer()" ng-disabled="timerOverflow || answerChoosen == undefined||anonymousUser" title="{{{true: '@WisR.App_Resources.Resource.LoginToEnable', false: ''}[anonymousUser]}}" style="pointer-events: auto;">@WisR.App_Resources.Resource.Submit</button><button style="float: right" class="btn btn-primary" ng-click="ToggleShowQuestionTables()">@WisR.App_Resources.Resource.BackToQuestions</button>
                    </form>
                    <label ng-show="specificAnswer!=null" id="specificAnswerLabel">@WisR.App_Resources.Resource.YouAnswered: {{specificAnswer}}</label>
                    <label ng-hide="showResults">@WisR.App_Resources.Resource.NoResultsYet</label>
                    <div id="chartDiv" ng-hide="!showResults">
                        <h3>@WisR.App_Resources.Resource.Results</h3>
                        <select ng-model="chartType">
                            <option>Pie</option>
                            <option>Doughnut</option>
                            <option>PolarArea</option>
                        </select>
                        <canvas id="pie" class="chart chart-base" chart-options="options" chart-type="chartType" chart-legend="true" chart-colors="colors" chart-data="data" chart-labels="labels"></canvas>
                    </div>
                </div>
            </div>
            <div ng-hide="chatLoaded" class="container text-center col-md-4">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span><label id="loadingLabel" class="">@WisR.App_Resources.Resource.LoadingChatMessages...</label>
            </div>
            @* Chat template found at: http://bootsnipp.com/snippets/featured/chat *@
            <div ng-show="chatLoaded && CurrentRoom.HasChat" class="col-md-4">
                <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
                @*Scroll glue keeps scroll bar at same location, found at: https://github.com/Luegg/angularjs-scroll-glue*@
                <div class="fa-border fa" style="overflow-x: hidden; overflow-y: auto; max-height: 400px; min-height: 400px; -moz-min-width: 100%; -ms-min-width: 100%; -o-min-width: 100%; -webkit-min-width: 100%; min-width: 100%" scroll-glue>
                    <div class="row">
                        <div class="message-wrap col-lg-12">
                            <div ng-if="ChatMessages.length" class="msg-wrap">
                                <div ng-repeat="chatMessage in ChatMessages" class="media msg blink_me">
                                    <div class="media-body">
                                        <small class="pull-right time"><i class="fa fa-clock-o"></i> {{chatMessage.Timestamp*1| date:'HH:mm:ss dd/MM-yyyy'}}</small>
                                        <h5 class="media-heading">{{GetUsernameById(chatMessage.ByUserId)}}</h5>
                                        <small class="col-lg-10">{{chatMessage.Value}}</small>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="send-wrap">
                    <textarea ng-enter="postChatMessage(textAreaModel)" ng-model="textAreaModel" class="form-control send-message" rows="3" style="-moz-min-width: 100%; -ms-min-width: 100%; -o-min-width: 100%; -webkit-min-width: 100%; min-width: 100%" placeholder="@WisR.App_Resources.Resource.WriteAReply..."></textarea>
                </div>
                <div class="btn-panel">
                    <button type="submit" class="btn btn-primary" ng-click="postChatMessage(textAreaModel)">@WisR.App_Resources.Resource.SendMessage</button>
                </div>
            </div>

        </div>

        <!-- Modal for creating question --> <!--Stops modal from closing-->
        <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true" data-keyboard="true">
            <div class="modal-dialog center">
                <div class="modal-content modal-heigh">
                    <div class="modal-body">
                        <form name="postQuestionForm" ng-submit="postQuestion();">
                            <div class="row">
                                <label class="col-md-6">@WisR.App_Resources.Resource.QuestionText</label> <input required ng-model="QuestionText" type="text" class="col-md-6 form-control" placeholder="@WisR.App_Resources.Resource.EnterQuestionText" />
                            </div>
                            <div class="row">
                                <label class="col-md-6">@WisR.App_Resources.Resource.QuestionType</label>
                                <select id="questionTypeId" class="col-md-6 form-control" ng-model="QuestionType" required ng-options="Type.val as Type.name for Type in QuestionTypes">
                                    <option value="" disabled selected> @WisR.App_Resources.Resource.ChooseType </option>
                                </select>
                            </div>
                            <div ng-show="QuestionType != undefined && QuestionType != 'TextualQuestion'" class="row">
                                <label class="col-md-6">@WisR.App_Resources.Resource.ResponseOptions</label>
                                <div class="col-md-6 input-group">
                                    <div ng-repeat="option in ResponseOptions" class="col-md-12 input-group has-feedback" style="max-width: 280px">
                                        <input required ng-model="option.Value" class="form-control" type="text" placeholder="@WisR.App_Resources.Resource.AddResponseOptions" />
                                        <span type="button" class="input-group-addon" ng-click="RemoveResponseOption(option)" value="@WisR.App_Resources.Resource.Remove">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </span>
                                    </div>
                                    <span type="button" ng-click="AddResponseOption()" class="glyphicon glyphicon-plus" value="@WisR.App_Resources.Resource.AddResponseOption" />
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-6">@WisR.App_Resources.Resource.Picture</label>
                                <input type='file' accept="image/*" ng-model='questionImage' base-sixty-four-input ctrl-function="setImageMessage(msg)" class="col-md-6 text-center filestyle" data-buttonName="btn-primary" data-buttontext="@WisR.App_Resources.Resource.ChoosePicture">
                                <div class="col-md-12 text-center">
                                    {{ImageMessage}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-6">@WisR.App_Resources.Resource.ExpirationTime</label> <input required ng-model="ExpirationTime" class="col-md-6 form-control" type="number" />
                            </div>
                            <br />
                            <div class="row text-center">
                                <button ng-hide="UpdateQuestionBool" ng-disabled="imageTooBig" id="ModalCreateQuestionButton" type="submit" class="btn btn-primary">@WisR.App_Resources.Resource.CreateQuestion</button>
                                <button ng-show="UpdateQuestionBool" ng-disabled="imageTooBig" id="ModalUpdateQuestionButton" type="submit" class="btn btn-primary">@WisR.App_Resources.Resource.UpdateQuestion</button>
                                <button id="ModalCancelButton" type="button" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <!--Modal end-->
        <!-- Modal for entering password --> <!--Stops modal from closing-->
        <div class="modal fade" id="myModalPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
            <div class="modal-dialog center">
                <div class="modal-content modal-heigh">
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <label class="col-md-12 text-center">@WisR.App_Resources.Resource.EnterPassword:</label>
                                <div class="col-md-12 text-center">
                                    <input ng-model="inputPassword" type="password" required />
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary btn-md btn-default" type="submit" ng-click="validatePassword()">@WisR.App_Resources.Resource.Submit</button>
                                    <span>
                                        @Html.ActionLink(WisR.App_Resources.Resource.GoBack, "Index", "Home", null, new { @class = "btn btn-primary btn-md btn-default " })
                                        @Html.Hidden("RedirectToHome", Url.Action("Index", "Home"))
                                    </span>
                                </div>
                                <div class="col-md-12 text-center">
                                    {{passwordMessage}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->
        <!-- Modal for deleting question --> <!--Stops modal from closing-->
        <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
            <div class="modal-dialog center">
                <div class="modal-content modal-heigh">
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <h4 class="col-md-12 text-center">@WisR.App_Resources.Resource.AreYouSureDeleteQuestion</h4>
                                <br />
                                <label class="col-md-6 text-center">@WisR.App_Resources.Resource.QuestionText</label>
                                <p class="col-md-6">{{SpecificQuestion.QuestionText}}</p>
                                <label class="col-md-6 text-center">@WisR.App_Resources.Resource.AuthorOfQuestion</label>
                                <p class="col-md-6">{{GetUsernameById(SpecificQuestion.CreatedById)}}</p>
                                <div class="col-md-12 text-center">
                                    <button id="DeleteSubmitButton" type="submit" ng-click="deleteQuestion(SpecificQuestion)" class="btn btn-primary">@WisR.App_Resources.Resource.Delete</button>
                                    <span>
                                        <button id="DeleteCancelButton" type="button" class="btn btn-primary" data-dismiss="modal">@WisR.App_Resources.Resource.Cancel</button>
                                    </span>
                                </div>
                                <div class="col-md-12 text-center">
                                    {{questionDeleteMessage}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal end-->

        <script type="text/javascript">
            var MyRoomIdFromViewBag = '@ViewBag.roomId';
        </script>
    </div>
</body>